.paginationContainer {
  --bs-pagination-color: var(--my-pink-100) !important;
  --bs-pagination-hover-color: var(--my-pink-200) !important;
  --bs-pagination-hover-bg: var(--my-pink-300) !important;
  --bs-pagination-hover-border-color: var(--my-pink-100) !important;
  --bs-pagination-focus-color: var(--my-pink-100) !important;
  --bs-pagination-focus-bg: var(--my-pink-300) !important;
  --bs-pagination-active-bg: var(--my-pink-100) !important;
  --bs-pagination-active-border-color: var(--my-pink-100) !important;
  --bs-pagination-focus-box-shadow: 0 0 0 0.25rem var(--my-box-shadow-color) !important;
  --bs-pagination-border-color: var(--my-pink-300);
  --bs-pagination-disabled-border-color: var(--my-pink-300) !important;
}
