.btnFs {
  font-size: var(--btn-fs-normal);
}

.btnContainer {
  display: flex;
  gap: 0.5rem;
  width: 100%;
}

.btn {
  text-decoration: none;
  color: black;
  padding: 10px 16px;
  border-radius: 8px;
  border-style: none;
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  font-weight: 500;
  margin: 0;
  outline: none;
  transition: color 100ms;
  vertical-align: baseline;
  line-height: 20px;
  list-style: none;
}

.btnSuccess {
  background-color: var(--my-pink-100);
  color: beige;
}

.btnOutline {
  background-color: blueviolet;
  color: beige;
}

.btnDanger {
  background-color: red;
  color: beige;
}

.btnDanger:hover,
.btnDanger:focus {
  color: beige;
  background-color: darkred;
}

.btnSuccess:hover,
.btnSuccess:focus {
  color: beige;
  background-color: var(--my-pink-200);
}

.btnOutline:hover,
.btnOutline:focus {
  color: beige;
  background-color: darkslateblue;
}
