#item {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.32rem;
  text-align: center;
}

.btnContainer {
  display: flex;
  gap: 1px;
  width: 100%;
}

#item:hover {
  background-color: #e44ec3;
  color: beige;
}
#lists {
  margin: 20px 10px;
}

.colHeader {
  font-size: 2rem;
  font-weight: bolder;
  text-align: center;
  background-color: #e44ec38b;
}

@media only screen and (max-width: 600px) {
  #item {
    font-size: var(--btn-fs-small);
  }
  #lists {
    margin: 20px 2px;
  }
  .colHeader {
    font-size: 1rem;
  }
}
