@import url(https://fonts.googleapis.com/css?family=Dancing%20Script);
@import url(https://fonts.googleapis.com/css?family=Lobster);

.neonText {
  color: var(--my-beige-color);
  text-shadow: 0 0 7px var(--my-pink-400), 0 0 10px var(--my-pink-450),
    0 0 21px var(--my-pink-450), 0 0 42px var(--my-pink-100),
    0 0 82px var(--my-pink-100), 0 0 92px var(--my-pink-100),
    0 0 102px var(--my-pink-100), 0 0 151px var(--my-pink-100);
}

.myNavbar {
  background-color: var(--my-pink-200);
}

.myNavBrand {
  font-family: 'Dancing Script', serif;
  font-size: 3rem;
  margin-left: 2rem;
}

.myFlex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.linkColor {
  color: var(--link-color) !important;
}
.linkColor:hover {
  color: var(--link-hover-color) !important;
}

.logoHolder {
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.circle {
  width: 80px;
  height: 80px;
  border: 3px solid var(--my-beige-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    var(--my-pink-200),
    var(--my-color-500),
    var(--my-pink-100)
  );
}

.brandName {
  font-size: 2rem;
  font-weight: 600;
  font-family: 'Lobster', serif;
  color: var(--my-beige-color);
}

.cursorHover:hover {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .logoHolder {
    width: 70px;
    height: 70px;
  }
  .circle {
    width: 40px;
    height: 40px;
  }

  .brandName {
    font-size: 1rem;
  }
  .myNavBrand {
    font-size: 2.35rem;
  }
}
